<!DOCTYPE html>
<html>
    <head>
        <title>Inet Test</title>
    </head>
    <body>
        <h1>{{ web_page_header }}</h1>
        <p>I am a apache webserver running on {{ ansible_hostname }}</p>
    </body>
</html>